<a href="https://colab.research.google.com/github/PANYAMLIKITHA/PYTHON-INTERACTIVE-LAB/blob/main/Fluent_python_book_2nd_edition_practice10_3_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import collections
Card = collections.namedtuple('Card', ['rank', 'suit'])

class FrenchDeck:
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    def __init__(self):
        self._cards = [Card(rank, suit) for suit in self.suits
                                        for rank in self.ranks]
    def __len__(self):
        return len(self._cards)
    def __getitem__(self, position):
        return self._cards[position]

deck = FrenchDeck()
print(len(deck))

52

In [12]:
import math

class Vector:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
    def __repr__(self):
        return f'Vector({self.x!r}, {self.y!r})'
    def __abs__(self):
        return math.hypot(self.x, self.y)
    def __bool__(self):
        return bool(abs(self))
    def __add__(self, other):
        x = self.x + other.x
        y = self.y + other.y
        return Vector(x, y)
    def __mul__(self, scalar):
        return Vector(self.x * scalar, self.y * scalar)
vector = Vector() # create an instance of the Vector class and assign it to the variable vector
print(vector)

Vector(0, 0)

In [19]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127] # removed extra indent
beyond_ascii

[162, 163, 165, 8364, 164]

In [21]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts
for color in colors:
    for size in sizes: # Corrected indentation for the nested loop
        print((color, size)) # Corrected indentation for the print statement

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [23]:
import copy

a = (10, 'alpha', [1, 2])
b = copy.deepcopy(a)  # Create a deep copy of the tuple
a == b
True
b[-1].append(99)
a == b
b
(10, 'alpha', [1, 2, 99])
a
(10, 'alpha', [1, 2])

(10, 'alpha', [1, 2])

In [29]:
a, b, *rest = range(5)
a, b, rest # removed extra leading space
(0, 1, [2, 3, 4])
a, b, *rest = range(3)
a, b, rest # removed extra leading space
(0, 1, [2])
a, b, *rest = range(2)
a, b, rest # removed extra leading space
(0, 1, [])

(0, 1, [])

In [33]:
metro_areas = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
 ]
def main(): # removed extra indent
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for name, _, _, (lat, lon) in metro_areas:
        if lon <= 0:
            print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')
if __name__ == '__main__':
     main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [39]:
def handle_command(self, message):
    match message:
        case ['BEEPER', frequency, times]:
            self.beep(times, frequency)
        case ['NECK', angle]:
            self.rotate_neck(angle)
        case ['LED', ident, intensity]:
            self.leds[ident].set_brightness(ident, intensity)
        case ['LED', ident, red, green, blue]:
            self.leds[ident].set_color(ident, red, green, blue)
        case _:
            raise InvalidCommand(message)

In [46]:
from typing import Any

# If Expression is a custom class, define it
class Expression:
    pass

# Define the Environment class
class Environment:
    def __getitem__(self, key):
        return 'test' # Added for testing purposes


class Symbol(Expression):
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f"Symbol({self.name!r})"


def evaluate(exp: Expression, env: Environment) -> Any:
    "Evaluate an expression in an environment."
    print(f"Evaluating: {exp}")
    if isinstance(exp, Symbol):
        # variable reference
        val = env[exp]
        print(f"  - Variable reference: {exp} -> {val}")
        return val

    else:
        print("  - Unknown expression type")
        return None

# Example usage
env = Environment()
exp = Symbol('x')
result = evaluate(exp, env)
print(f"Result: {result}")

Evaluating: Symbol('x')
  - Variable reference: Symbol('x') -> test
Result: test

In [49]:
SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY =  slice(52, 55)
ITEM_TOTAL = slice(55, None)

# Example invoice string (replace with your actual invoice data)
invoice = """
0.....6.........................................40........52...55........
1909  Pimoroni PiBrella                     $17.50    3    $52.50
1489  6mm Tactile Switch x20                 $4.95    2     $9.90
1510  Panavise Jr. - PV-201                $28.00    1    $28.00
1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95
"""

line_items = invoice.split('\n')[2:]
for item in line_items:
    ...
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.50   Pimoroni PiBrella
     $4.95   6mm Tactile Switch x20
   $28.00    Panavise Jr. - PV-201
    $34.95   PiTFT Mini Kit 320x240

In [52]:
l = list(range(10))
l
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
l[2:5] = [20, 30]
l
[0, 1, 20, 30, 5, 6, 7, 8, 9]
del l[5:7]
l
[0, 1, 20, 30, 5, 8, 9]
l[3::2] = [11, 22]
l
[0, 1, 20, 11, 5, 22, 9]
l[2:5] = [100]
l
[0, 1, 100, 22, 9]

[0, 1, 100, 22, 9]

In [54]:
l = [1, 2, 3]
id(l)
# 4311953800
l *= 2
l
# [1, 2, 3, 1, 2, 3]
id(l)
# 4311953800
t = (1, 2, 3)
id(t)
# 4312681568
t *= 2
id(t)
# 4301348296

137960735665280

In [57]:
t = (1, 2, [30, 40])
t[2].extend([50, 60]) # Use extend() method to modify the list within the tuple
print(t)

(1, 2, [30, 40, 50, 60])

In [59]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)
# ['apple', 'banana', 'grape', 'raspberry']
fruits
# ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits, reverse=True)
# ['raspberry', 'grape', 'banana', 'apple']
sorted(fruits, key=len)
# ['grape', 'apple', 'banana', 'raspberry']
sorted(fruits, key=len, reverse=True)
# ['raspberry', 'banana', 'grape', 'apple']
fruits
# ['grape', 'raspberry', 'apple', 'banana']
fruits.sort()
fruits
# ['apple', 'banana', 'grape', 'raspberry']

['apple', 'banana', 'grape', 'raspberry']

In [60]:
 from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))
 floats[-1]
0.07802343889111107
 fp = open('floats.bin', 'wb')
  floats.tofile(fp)
 fp.close()
 floats2 = array('d')
 fp = open('floats.bin', 'rb')
 floats2.fromfile(fp, 10**7)
 fp.close()
 floats2[-1]
>0.07802343889111107
 floats2 == floats
True

IndentationError: unexpected indent (<ipython-input-60-510108bf775e>, line 7)

In [63]:
from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))
floats[-1]
0.07802343889111107
fp = open('floats.bin', 'wb')
floats.tofile(fp) # Removed extra indent
fp.close()
floats2 = array('d')
fp = open('floats.bin', 'rb')
floats2.fromfile(fp, 10**7)
fp.close()
floats2[-1]

floats2 == floats

True