<a href="https://colab.research.google.com/github/PANYAMLIKITHA/PYTHON-INTERACTIVE-LAB/blob/main/PYTHON_INTERACTIVE_LAB_2_11_09_24_Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class Employee:
    # class variables
    company_name = 'ABC Company'
    # constructor to initialize the object
    def __init__(self, name, salary):
        # instance variables
        self.name = name
        self.salary = salary
    # instance method
    def show(self):
        print('Employee:', self.name, self.salary, self.company_name)
# create first object
emp1 = Employee("Harry", 12000)
emp1.show()
# create second object
emp2 = Employee("Emma", 10000)
emp2.show()

Employee: Harry 12000 ABC Company
Employee: Emma 10000 ABC Company

In [6]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.__salary = salary
    def show(self):
        print("Name is ", self.name, "and salary is", self.__salary)
emp = Employee("Jessa", 40000)
emp.show()
# access salary from outside of a class
# print(emp.__salary)

Name is  Jessa and salary is 40000

In [9]:
# polymophism
class Circle:
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius
    def calculate_area(self):
        print("Area of circle :", self.pi * self.radius * self.radius)

class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width
    def calculate_area(self):
        print("Area of Rectangle :", self.length * self.width)

# function def
def area(shape):
    # call action
    shape.calculate_area()

# create object
cir = Circle(5)
rect = Rectangle(10, 5)

# call common function
area(cir)
area(rect)

Area of circle : 78.5
Area of Rectangle : 50

In [12]:
#inheritence
# Base class
class Vehicle:
    def __init__(self, name, color, price):
        self.name = name
        self.color = color
        self.price = price
    def info(self):
        print(self.name, self.color, self.price)
# Child class
class Car(Vehicle):
    def change_gear(self, no):
        print(self.name, 'change gear to number', no)
# Create object of Car
car = Car('BMW X1', 'Black', 35000)
car.info()
car.change_gear(5)

BMW X1 Black 35000
BMW X1 change gear to number 5

The built-in iter() function takes an arbitrary object and tries to return an iterator that will return the objectâ€™s contents or elements

In [13]:
l=[1,2,3]
it=iter(l)
it.__next__()

1

In [14]:
next(it)

2

In [15]:
next(it)

3

In [16]:
L = [1, 2, 3]
iterator = iter(L)

t = tuple(iterator)
t

(1, 2, 3)

In [17]:
L = [1, 2, 3]
iterator = iter(L)
a, b, c = iterator
a, b, c

(1, 2, 3)

In [19]:
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,

'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

for key in m:
    print(key, m[key]) # Indented this line to be within the for loop

Jan 1
Feb 2
Mar 3
Apr 4
May 5
Jun 6
Jul 7
Aug 8
Sep 9
Oct 10
Nov 11
Dec 12

In [20]:
L = [('Italy', 'Rome'), ('France', 'Paris'), ('US', 'Washington DC')]
dict(iter(L))

{'Italy': 'Rome', 'France': 'Paris', 'US': 'Washington DC'}

In [21]:
s={6,7,8,9,13}
for i in s:
    print(i)

6
7
8
9
13

In [22]:
seq1 = 'abc'
seq2 = (1, 2, 3)
[(x, y) for x in seq1 for y in seq2]

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

In [28]:
# Define the generator function
def generate_ints(n):
    for i in range(1, n + 1):
        yield i

gen = generate_ints(3)

print(next(gen))
# Expected output: 1
print(next(gen))
# Expected output: 2
print(next(gen))
# Expected output: 3
try:
    print(next(gen))
except StopIteration:
    print("StopIteration exception")
# Expected output: StopIteration exception

1
2
3
StopIteration exception

In [29]:
import random
 # Generate 8 random numbers between [0, 10000)
rand_list = random.sample(range(10000), 8)
rand_list

[3786, 3582, 4643, 5023, 1902, 1228, 1397, 648]

In [31]:
sorted(rand_list)

[648, 1228, 1397, 1902, 3582, 3786, 4643, 5023]

In [32]:
sorted(rand_list, reverse=True)

[5023, 4643, 3786, 3582, 1902, 1397, 1228, 648]

In [33]:
any([0, 1, 0])

True

In [34]:
any([1, 1, 1])

True

In [35]:
all([0, 1, 0])

False

In [37]:
all([0, 0, 0])

False

In [38]:
all([1, 1, 1])

True

In [39]:
zip(['a', 'b', 'c'], (1, 2, 3))

In [52]:
import itertools

for i in itertools.count(1):
  if i > 10:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10

In [57]:
import itertools
list(itertools.islice(itertools.cycle([1, 2, 3, 4, 5]), 10))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [59]:
import itertools

itertools.cycle([1, 2, 3, 4, 5])
# This will create an iterator that cycles through the list indefinitely.
# To see the output, you would need to iterate over it.
# For example:
# for i in itertools.cycle([1, 2, 3, 4, 5]):
#     print(i)

In [61]:
import itertools

list(itertools.repeat('abc', 10))

['abc', 'abc', 'abc', 'abc', 'abc', 'abc', 'abc', 'abc', 'abc', 'abc']